:3000 {
    encode gzip

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
    }

    handle /api/* {
        rewrite * /todo{uri}
        reverse_proxy {$BACKEND_HOST:localhost}:{$BACKEND_PORT:8080}
    }

    handle {
        root * frontend/dist
        try_files {path} /index.html
        file_server
    }
}
